@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Modak:100,200,300,400,500,600,700");

/*-------------------------------------------------paddings, margins & text*/
.block-divide {
  width: 400px;
  height: 4px;
  border: 0;
  background-color: rgb(50, 53, 238);
}
body{
    font-family: Roboto;
    color: #666666;
    background-color: #eaeaea;
}
/*----------------------------------------Header section----*/
.clublogo{
    font-size: 200%;
    color: #bb2a38;
}
.navbar navbar-toggler-icon {
  color: rgba(0, 0, 0, 0.5);
}
.navbar {
  overflow: hidden;
  background-color: rgb(50, 53, 238);
  position: fixed;
  top: 0;
  width: 100%;
  float: right;
}
.navbar-brand {
  font-weight: bolder;
}
/*----------------------------------------Hero section----*/
#hero-image{
    height: 600px;
    width: 100%;
    background-image: url("../images/runners1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    animation-name: hero-zoom;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}


@keyframes hero-zoom{
    from{
        transform: scale(1.4);}
    to {
        transform: scale(1);}
     }

.jumbotron{
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 6rem;
    
}
.jumbotron h2,h3{
    color: #011111;
    font-weight: bolder;
    margin-bottom: 30px;
    }

    .card img{
    height: 100px;
    width: 100px;
}
/*-------------------------------------------------about section*/
#aboutus{
    margin-bottom: 40px;
}
.container-about h2{
    letter-spacing: 5px;
    color: rgb(50, 53, 238);
}
.about-text {
  margin: 10px;
  padding: 10px 20px 10px 20px;
 
}

.container-about {
  padding-top: 10px;
  }
  /*-------------------------------------------------sign up section*/
#signup{
    margin-bottom: 40px;
}
.container-signup h2{
    letter-spacing: 5px;
    color: rgb(50, 53, 238);
}



/*----------------------------------------training plans section*/
#plans{
    margin-bottom: 40px;
}   
    
.container-plans h2{
    letter-spacing: 5px;
    color: rgb(50, 53, 238);
}

.plan-warning h5 {
  background-color: yellow;
  font-weight: bold;
  color: rgb(50, 53, 238);
}
.form-check {
  margin: 10px 10px 10px 10px;
  border: solid 2px rgb(130, 130, 130);
  padding-left: 2rem;
  background-color: #bfd8f5;
}
.shoeimages{
    padding-left: 10px;
    padding-right: 10px;
}
.order-button{
    padding-bottom: 10px;
    padding-top:10px;
}
/*----------------------------------------testimonials section*/
#testimonial{
    margin-bottom: 40px;
}
.container-testimonials h2{
    letter-spacing: 5px;
    color: rgb(50, 53, 238);
}
.member-testimonial {
  margin: 10px 10px 10px 10px;
  border: solid 1px rgb(130, 130, 130);
  padding-left: 15px;
  display: block;
}
/*----------------------------------------------links section*/
#links{
    margin-bottom: 40px;
}
.container-links h2{
    letter-spacing: 5px;
    color: rgb(50, 53, 238);
}
.card{
    background: inherit;
    border: none;
}
.card img{
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.card a{
    text-align: center;
    color: inherit;
}


/*----------------------------------------------gallery section*/
#gallery{
    margin-bottom: 40px;
}
.container-gallery h2{
    letter-spacing: 5px;
    color: rgb(50, 53, 238);
}
.galleryimages{
    line-height: 0;
    column-count: 3;
}
.galleryimages img{
    width: 100%;
}



/*------------------------------------------social media section*/
.social-media{
    background-color: rgb(50, 53, 238);
    color: whitesmoke;
}
.social-media i{
    padding: 5px 10px 5px 10px;
    color: whitesmoke;
    font-size: 130%;
    padding-left: 10px;
}
.social-media i:hover{
    background: red;
    font-size: 200%;
}
    
.social-media-title{
    letter-spacing: 1px;
}
.contact-us{
    background-color: rgb(50, 53, 238);
    color: whitesmoke;
    padding-right: 10px;
}