@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Modak:100,200,300,400,500,600,700");

/*-------------------------------------------------paddings, margins & text*/



/*-------------------------------------------------colours*/



/*-------------------------------------------------header section*/
.site-heading{
    text-align: center;
    letter-spacing: 3px;
    margin: 0;
    font-family: Modak,sans-serif;
    font-size: 90px;
    color: #bb2a38;
    background: url('../images/clublogo.jpg');
    background-repeat: no-repeat;
    overflow: hidden;
    }
    .navbar navbar-toggler-icon{    
    color: rgba(0, 0, 0, 0.5)
    }
    .navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  float: right;
  }
  .navbar-brand {
      font-weight: bold;
      }
   
/*-------------------------------------------------home section*/
.container-home{
    background: url("../images/runners.jpg") no-repeat;
    background-size: 100% 100%;
 }
.home-text{
    font-family:Roboto, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 10px;
    color: #fafafa
}
/*-------------------------------------------------about section*/

 
.about-text {
    margin: 10px;
    padding: 10px 20px 10px 20px;
    border: solid 1px #777777;}
    
    

/*----------------------------------------training plans section*/
.form-check{
    margin: 10px 10px 10px 10px;
    border: solid 1px rgb(130, 130, 130);
    padding-left: 2rem;
}
.plan-types{
    padding-left: 15px;
}
.plan-types h4{
    text-align: center;
}


.member-alert{
    
    align-items: center;
    color: red;
    font-weight: bold;
    background-color: yellow;
    
}

/*-------------------------------------------------sign up section*/
.join-btm{
    padding: 20px;
    margin-top: 30px;
}
.pass-text{
    margin-bottom: 20px;
}
/*----------------------------------------------testimonials section*/
.testimonial{
    margin: 10px 10px 10px 10px;
    border: solid 1px rgb(130, 130, 130);
    padding-left: 15px;
    display: block;

    /*----------------------------------------------links section*/

.card{
len
    }
    
   

/*-------------------------------------------------footer section*/

.social-media-title{
    text-align: center;
    
}

